/* Reset and .clearfix */
abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;list-style-type: none;
}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}


/* Default Styles */

body { 
	background: #fff; 
	color: #000; 
	font: 16px 'Lydian W01', serif; 
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	text-align: justify;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
     html {
        -webkit-text-size-adjust: none;
     }
}


/* index */

main .wrapper {
	padding: 10px;
}
h1 {
	font-size: 2.5em;
	margin: 40px auto;
	text-align: center;
	max-width: 800px;
}
@media (min-width: 650px) {
	h1 {
		font-size: 4em;
	}
}
h1 a:hover {
	text-decoration: none;
}
h2 a {
	color: blue;
}
h2 .emoji {
	width: 25px;
	top: -4px;
	margin-right: 6px;
}
.emoji-center .emoji {
	width: 50px;
}
.emoji {
	display: inline-block;
	position: relative;
}
.emoji-center {
	display: block;
	font-size: 1.6em;
	margin-bottom: 50px;
	text-align: center;
}
h2 {
	max-width: 450px;
	font-size: 1.7em;
	margin: 0 auto;
}
.ok {
	font-size: 4em;
	text-align: center;
	margin: 0 auto;
	display: block;
	margin: 20px 0 40px 0;
	cursor: pointer;
}
.ok .emoji {
	width: 50px;
}
.ok:hover {
	text-decoration: none;
}
.work-list {
	margin: 0 auto;
	position: relative;
	padding: 10px;
}
.work-item {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	display: none;
}
.work-item a {
	
}
.work-item.active {
	display: block;
}
.work-item ul {
	max-width: 450px;
	margin: 60px auto;
	position: relative;
	z-index: 1;
}
.work-item ul:hover {
	z-index: 0;
}
.work-caption {
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10%;
	width: 100%;
	text-align: center;
	z-index: 0;
	font-size: 1.7em;
}


/* footer */


/* project */
.project-items .wrapper {
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 60px;
}
.project-items li {
	margin-bottom: 20px;
	font-size: 1.7em;
	padding: 10px;
}
.project-items .project-intro { 
	max-width: 450px;
	margin: 2em auto 1em auto;
}
.project-items .project-intro p {
	margin-bottom: 1em;
}
.project-items .project-intro a {
	color: blue;
}