/* Reset and .clearfix
------------------------------------------------------------------------------*/
abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;list-style-type: none;
}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}
.clearfix:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}


/* Default Styles
------------------------------------------------------------------------------*/

body { 
	background: #fff; 
	color: #000; 
	font: 16px soleil, 'Helvetica Neue', Arial, sans-serif; 
}
body.blog {
	background: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	text-align: justify;
}
.wrapper.work-list {
	max-width: 1440px;
	padding-bottom: 50px;	
}
@media (min-width: 630px) {
	.wrapper.work-list {
		width: calc(100% - 20px);	
		padding-left: 10px;
		padding-right: 10px;
	}
}
/*vertical centering*/
.table .wrapper {
	display: table-cell;
	vertical-align: middle;
}
.table {
	display: table;
	height: 100%;
	margin: 0 auto;
}
.table .wrapper h1 {
	margin-top: -50px;
}
body.work .table, body.work .table .wrapper {
	display: block;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
     html {
        -webkit-text-size-adjust: none;
     }
}


/* index
------------------------------------------------------------------------------*/

main {
	position: relative;
}
h1 {
	text-transform: uppercase;
	line-height: 1.5em;
	padding-left: 10px;
	font-size: 1.15em;
	display: inline;
	font-weight: bold;
}
main > section {
	margin: 0 0 20px 0;
	padding: 5px 10px 10px 10px;
}
main > section p {
	padding: 10px 0 0 0;
	line-height: 1.25em;
}


/* footer
------------------------------------------------------------------------------*/

footer {
	font-size: 2em;
}
footer li {
	display: inline-block;
	border: none;
	margin-right: 10px;
}
footer ul {
	position: relative;
}
footer ul li.ss-icon {
	float: right;
	margin-right: 0;
}
footer li a {
	background: #D95B43; 
	font-weight: 700;
	padding: 7px;
	border-top: 3px solid #C02942;	
	text-transform: uppercase;
	font-family: "futura-pt",sans-serif;
}
footer li.hello {
	margin-top: 20px;
	position: absolute;
}
footer li.ss-icon {
	margin-top: -20px;
}
footer li.ss-icon a {
	color: #d95b43;
	padding: 10px 10px 0 10px;
	background: #fff;
}
footer a {
	color: #fff;
}
footer li:hover a {
	border-top-color: #edd4b2;
	color: #edd4b2;
	text-decoration: none;
}


/* work
------------------------------------------------------------------------------*/

body.work main {
	margin: 60px 0 60px 0;
	position: static;
	display: block;
}
body.work article {
	position: relative;
	margin: 0 auto 50px auto;
}
body.work article ul li img {
	height: auto;
}
body.work article section {
	padding: 10px;
	
	left: 10px;
	right: 10px;
	bottom: 0;
	text-align: left;
}
body.work article section h3, body.work-item article section h3 {
	text-transform: uppercase;
	font-size: 1em;
	font-family: "futura-pt",sans-serif;
	color: #d95b43;
}
body.work article section p, body.work-item article section p  {
	font-family: "futura-pt",sans-serif;
}
body.work-item article section h3 {
	margin-bottom: 5px;
}
body.work-item article section a {
	color: #d95b43;
}
body.work-item article section a:before {
	content: "•";
	display: inline;
	margin-right: 3px;
}
body.work-item article section p  {
	margin-bottom: 20px;
}
body.work article section h3, body.work article section p {
	display: inline;
	text-transform: none;
}


/* work-item
------------------------------------------------------------------------------*/

body.work-item .wrapper {
	max-width: 600px;
}
body.work-item main {
	margin: 40px 0 20px 0;
	position: static;
	display: block;
}
body.work-item .wrapper-big {
	max-width: 1200px;
	margin: 0 auto;
}
body.work-item article {
	position: relative;
	z-index: 1;
}
body.work-item article section {
	background: #fff;
	padding: 10px;
	max-width: 580px !important;
	margin: 0 auto;
}
body.work-item ul {
	max-width: 950px;
	float: right;
}
body.work-item ul li {
	margin-bottom: 20px;
}
body.work-item footer ul, body.work-item footer ul li {
	position: static !important;
}
body.work-item footer ul {
	margin: 50px 0;
}

/* positioning
------------------------------------------------------------------------------*/

main .box {
	display: none;
}
main .box {
	width: 80px;
	height: 80px;
	position: absolute;
}
main .box.red {
	background: #ca654f;
}
main .box.white {
	background: #fff;
}
main .box.yellow {
	background: #edd4b2;
}


/* let's get big ------------------------------------------------------------------------------*/

@media screen and (min-width:600px) {
	body.work-item article {
		/*position: absolute;
		top: 150px;*/
	}
}
@media screen and (min-width:630px) {
	body.work main {
		margin-bottom: 0;
	}
	body {
		overflow-x: hidden;
	}
	main .box {
		display: block;
	}
	h2 {
		display: inline;
	}
	main > section p {
		font-size: 1.2em;
	}
	footer {
		font-size: 3em;
		margin-top: 50px;
	}
	footer li.work {
		position: absolute;
		margin-left: 40px;
	}
	footer li.hello {
		position: absolute;
		margin-left: 250px;
		position: absolute;
		margin-top: 0;
	}
	body.work article {
		margin: 50px 0;
		float: left;
		width: 32%;
	}
	body.work article:nth-child(3n+2) {
		margin: 50px 2%;
	}
	body.work article:nth-child(3n+4) {
		clear: left;
	}

	body.work footer, body.work footer ul {
		margin-top: 0;
		position: static;
	}
}
@media screen and (min-width:800px) {
	footer li.work {
		margin-left: -90px;
	}
	
}
@media screen and (min-width:1000px) {
	footer .ss-icon {
		right: 300px;
	}
}
@media screen and (min-width:1250px) {
	
}